#compare_nav{
    display: flex;
    width: 90%;
    margin: auto;
    gap: 20px;


    .compare_nav_child{
        position: relative;
        p{
            opacity: 0;
            transition: .3s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            text-align: center;
            cursor: pointer;
            margin: auto;
            &:hover{
                opacity: 1;

                & + img{
                    opacity: 0.5;
                }
            }
        }
        img{
            width: 100%;
            transition: .3s;
            cursor: pointer;
            opacity: 1;
    
            &:hover{
                opacity: 0.5;
                & + p{
                    opacity: 1;
                }
            }
        }
    }

}