header{
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    font-family: serif;
    
    //上のとこ
    #header_Main{
        height: 45px;
        display: flex;

        #header_Main_Icon{
            height: 45px;
            width: 150px;
            object-fit: cover;
            margin: 0 auto;
        }

        #header_Main_Lang{
            height: 45px;
            width: 45px;
            object-fit: cover;
        }

        #search-wrap {
            position: absolute;/*絶対配置にして*/
            z-index: 10;/*最前面に設定。数字は変更可*/
            top:2px;
            right:50px;
            #search-text{
                -webkit-appearance:none;/*SafariやChromeのデフォルトの設定を無効*/
                width: 25px;/*テキスト入力エリアが伸びる前の横幅*/
                height: 25px;
                padding: 8px;
                border: none;
                background:#fff url("Images/SearchTmp.png") no-repeat 9px center;/*虫眼鏡アイコンを背景に表示*/
                background-size: 25px 25px;
                transition: all 0.5s;/*transitionを使ってスムースに伸ばす*/
                outline: none;
                cursor: pointer;/*カーソルを指マークに*/
                &:focus{
                    width: 250px;/*テキスト入力エリアが伸びる後の横幅*/
                    padding: 8px 0 8px 60px;
                    box-shadow: 0 2px rgba(6,0,1,.26);
                }
            }
        }
    }

    //下のとこ
    #header_Nav{
        background-color: #4F825B;
        position: relative;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; // 慣性スクロール
        

        ul{
            width: 100%;
            height: 30px;
            max-width: 1060px; /* メニューの最大幅 */
            min-width: 800px; /* メニューの最小幅 */
            margin: 0 auto;
            padding: 0;
            list-style: none;
            line-height: 30px;
        }

        li{
            float: left;
            display: block;
            width: 200px; /* メニューの個別の幅 */
            @media only screen and (min-width: 550px){
                width: 25%;
            }
            text-align: center;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            box-sizing: border-box;

            +li{
                border-left: none;
            }
            a{
                position: relative;
                color: #fff;
                width: 100%;
                height: 100%;
                display: inline-block;
                text-decoration: none;
                transition: .3s;
                &:hover{
                    color: #4F825B;
                    background-color: #fff;
                    &::after{
                        transform: scale(1,1);
                    }
                }

                &::after{
                    content: '';
                    position: absolute;
                    bottom: 3px;
                    left: 10%;
                    width: 80%;
                    height: 2px;
                    background:#4F825B;
                    transform:scale(0,1);
                    transition: .3s;
                    transform-origin: center top;
                }

            }
        }
    }
}