body{
    margin: 0;
}
#BodyWrapper{
    background-color: #0d2c1c;
    margin: 75px 0 0 0;
    padding-bottom: 10px;
    font-family: serif;
}
#TopImageWrapper{
    .slider {
            position:relative;
            z-index: 1;
            /*↑z-indexの値をh1のz-indexの値よりも小さくして背景に回す*/
            padding: 0;
            height: calc(100vh-75px);/*スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
        }
        /*　背景画像設定　*/
    
        .slider-item01 {
            background:url(Images/PlaceHolder.jpg);
        }
        
        .slider-item02 {
            background:url(Images/PlaceHolder_2.jpg);
        }
        
        .slider-item03 {
            background:url(Images/SDGsIcon.png);
        }
        
        .slider-item {
            width: 100%;/*各スライダー全体の横幅を画面の高さいっぱい（100%）にする*/
            height: calc(100vh - 75px);/*各スライダー全体の縦幅を画面の高さいっぱい（100vh）にする*/
            background-repeat: no-repeat;/*背景画像をリピートしない*/
            background-position: center;/*背景画像の位置を中央に*/
            background-size: cover;/*背景画像が.slider-item全体を覆い表示*/
    }
        
        /*矢印の設定*/
        
        .slick-prev, 
        .slick-next {
            position: absolute;
            z-index: 3;
            top: 42%;
            cursor: pointer;/*マウスカーソルを指マークに*/
            outline: none;/*クリックをしたら出てくる枠線を消す*/
            border-top: 2px solid #fff;/*矢印の色*/
            border-right: 2px solid #fff;/*矢印の色*/
            height: 25px;
            width: 25px;
            transition: .3s;
            &:hover{
                border-color: #0481A2;
            }
        }
        
        .slick-prev {/*戻る矢印の位置と形状*/
            left:2.5%;
            transform: rotate(-135deg);

        }
        
        .slick-next {/*次へ矢印の位置と形状*/
            right:2.5%;
            transform: rotate(45deg);
        }
        
        /*ドットナビゲーションの設定*/
        
        .slick-dots {
            position: relative;
            z-index: 3;
            text-align:center;
            padding: 0;
            margin:-30px 0 0 0;/*ドットの位置*/
        }
        
        .slick-dots li {
            display:inline-block;
            margin:0 5px;
        }
        
        .slick-dots button {
            color: transparent;
            outline: none;
            border-width: 0;
            padding: 0;
            width: 8px;/*ドットボタンのサイズ*/
            height:8px;/*ドットボタンのサイズ*/
            border-radius:50%;
            background:#fff;/*ドットボタンの色*/
        }
        
        .slick-dots .slick-active button{
            background:#333;/*ドットボタンの現在地表示の色*/
        }
}

//最初のトピック
#Topic{
    color: white;
    text-align: center;
}

//タイプ2のコンテント
.ContentType2{
    color: white;
    width: 95%;
    margin: auto;
    
    h1{
        text-align: center;
    }
    p{
        width: 80%;
        margin: auto;
    }
}

//SDGsとの協力
#SDGsCoop{
    #SDGsCoop_Images{
        display: flex;
        justify-content: center;
        gap: 10%;

        img{
            width: 30%;
        }
    }
    p{
        color: white;
        text-align: center;
        width:95%;
    }
}

//ページ遷移用
.linkText{
    position: relative;
    cursor: pointer;
    //形
    background-color: white;
    height: 36px;
	box-shadow: 0 0 0 3px #4F825B, 0 0 0 6px white;
    border-radius: 15px;
    width: 200px;
    margin: 20px auto;
    //テキスト
    padding: 0 0 0 40px;
    p{
        text-decoration: none;
        color: #4F825B;
        text-align: center;
        margin: 0;
        line-height: 36px;
    }
    &::after{
        content: '';
        /*絶対配置で矢印の位置を決める*/
        position: absolute;
        top: 13px;
        left: 13px;
        translate: (-50%,-50%);
        /*矢印の形状*/    
        width: 5px;
        height: 5px;
        border-top: 2px solid #4F825B;
        border-right: 2px solid #4F825B;
        transform: rotate(45deg);
    }

    &:hover{
        background-color: #eee;
        box-shadow: 0 0 0 3px #4F825B, 0 0 0 6px #eee;
    }
}

//タイプ1のコンテント
.ContentType1{
    width: 90%;
    margin:10px auto;
    border-radius: 10px;
    padding: 3%;

    .ContentType1_Topic{
        
        display: flex;
        
        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin: auto 0;
        }
        h2{
            margin: auto 0;
            font-size: 30px;
            color: white;

        }
    }

    .ContentType1_Body{
        display: flex;
        
        .ContentType1_Image{
            width: 50%;
            img{
                width: 100%;
            }
        }

        .ContentType1_Text{
            width: 50%;
            color: white;
            display: flex;
            flex-direction: column;

            a{
                display: block;
                margin: auto 10px 10px 10px;
                color: white;
            }
        }
    }
}